@using (Html.BeginForm(null, null, FormMethod.Post, new { id="searchForm"}))
{
    <fieldset class="col-md-6">
        <legend>Фильтр: </legend>
        @Html.RadioButton("filter", "requestNumber") Поиск по номеру вызова
        <br>
        @Html.RadioButton("filter", "requestCategory", true) Поиск по категории вызова
        <br>
        @Html.RadioButton("filter", "requestAddress") Поиск по адресу вызова
        <br>
        @Html.TextBox("searchString")
        <p><input type="button" value="Поиск" id="searchBtn"></p>
    </fieldset>
}
<div id="DataSearching">
    @*partial view content*@
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/DataSearchingScript.js"></script>