@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Get, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @*@Html.AntiForgeryToken()*@

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.Label("Здравствуйте, " + User.Identity.Name + "!")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

