@model IEnumerable<AM.EmergencyService.App.Web.Models.Casualty.CasualtySelectViewModel>
<div>
    @Html.ListBox("CasualtyId", new MultiSelectList(Model, "Id", "Name"), new { @class = "form-control" })
</div>
