@model IEnumerable<AM.EmergencyService.App.Web.Models.Rescuers.RescuerSelectViewModel>
<div>
    @Html.ListBox("RescuerId", new MultiSelectList(Model, "Id", "Name"), new { @class = "form-control" })
</div>