<table width="960" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%">
            Добро пожаловать на сайт "диспетчер МЧС". Данное веб-приложение позволяет диспетчеру МЧС
            работать с данными о вызовах, бригадах, технических средствах и прочим.
            <br>
            Веб-приложение разработнао в рамках учебного проекта "ASP.NET MVC trainig" EPAM 2018
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="320">1</td>
                    <td width="320">1</td>
                    <td width="320">1</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

