@model IEnumerable<AM.EmergencyService.App.Common.Models.InventoryModel>
<div>
    @Html.ListBox("InventoryNumber", new MultiSelectList(Model, "InventoryNumber", "InventoryName"), new { @class = "form-control" })
</div>
