<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="AdService">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
    <bindings>
      <basicHttpBinding>
        <binding name="MyBindingConfig" transferMode="Buffered"/>
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="AdService" name="AM.EmergencyService.AdService.Service.AdService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="AM.EmergencyService.AdService.Interface.IService"
                  bindingConfiguration="MyBindingConfig" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
 
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
